:root {
  /* Colors
  -------------------------- */
  --color-primary                      : #20a0ff;

  --color-success                      : #13ce66;
  --color-warning                      : #f7ba2a;
  --color-danger                       : #ff4949;
  --color-info                         : #50bfff;

  --color-secondary                    : color(var(--color-primary) s(99%) l(*0.9));
  --color-white                        : #fff;
  --color-dark-white                   : color(var(--color-white) blend(var(--color-primary) 2%));
  --color-black                        : #000;

  --color-base-black                   : color(var(--color-primary) h(+6) s(33%) l(18%));
  --color-light-black                  : color(var(--color-base-black) h(+5) s(27%) l(27%));
  --color-extra-light-black            : color(var(--color-base-black) h(+2) s(19%) l(35%));

  /* Font
  -------------------------- */
  --font-size-base                     : 14px;
  --font-color-base                    : #cbcbcb;
  --font-color-disabled-base           : #bbb;

  /* treetable
  -------------------------- */
  --treetable-th-color                 : var(--font-color-base);
  --treetable-th-background            : #33353d;
  --treetable-td-color                 : var(--font-color-base);
  --treetable-td-background            : #24262d;
  --treetable-td-stripe-background     : #212228;
  --treetable-td-hover-background      : #2d2f38;
  --treetable-td-highlight-background  : #2d2f38;
  --treetable-border                   : 1px solid #333;
  --treetable-cell-line-height         : 1.5;
  --treetable-cell-padding             : 0 16px 0 16px;
}
